<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta charset="UTF-8">
    <title>Blog Admin</title>
    <!--Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</head>
<!-- Path: views/blogAdmin.html -->

<body>
    <!--Navbar with title SSB Practice Blog Admin-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SSB Practice Blog Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="blogAdmin.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ssbpractice.click/blogAdmin/newPost">New Post</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--End of Navbar-->
    <div id="post">

    </div>

</body>
<script>
    //on page load get all posts
     function getPosts() {
        fetch('https://ssbpractice.click/blog/posts').then((response) => {
            return response.json();
        }
        ).then((data)=>{
            this.myFunction(data);
        })
    }
    function myFunction(data){
        console.log(data);
        let post = document.getElementById('post');
        for (let i = 0; i < data.length; i++) {
            let postDiv = document.createElement('div');
            postDiv.className = 'card';
            
            let postBody = document.createElement('div');
            postBody.className = 'card-body';
            let postTitle = document.createElement('h5');
            postTitle.className = 'card-title';
            postTitle.innerHTML = data[i].title;
            let postText = document.createElement('p');
            let postDate = document.createElement('p');
            postDate.className = 'card-text';
            postDate.innerHTML = data[i].date;
            let postAuthor = document.createElement('p');
            postAuthor.className = 'card-text';
            postAuthor.innerHTML = data[i].author;
            let postViews = document.createElement('p');
            postViews.className = 'card-text',
            postViews.innerHTML = 'views: ' + data[i].views;
            // create button to view and delete
            let viewButton = document.createElement('button');
            viewButton.className = 'btn btn-primary';
            viewButton.innerHTML = 'View';  
            viewButton.setAttribute('onclick', 'viewPost('+data[i].id+')');
            let deleteButton = document.createElement('button');
            deleteButton.className = 'btn btn-danger';
            deleteButton.innerHTML = 'Delete';
            //create p to show view
            

            deleteButton.setAttribute('onclick', 'deletePost('+data[i].id+')');
            let postButton = document.createElement('button');
            postButton.className = 'btn btn-primary';
            postButton.innerHTML = 'Edit';
            postButton.setAttribute('onclick', 'editPost(' + data[i].id + ')');
            postBody.appendChild(postTitle);
            postBody.appendChild(postViews);
            postBody.appendChild(postDate);
            postBody.appendChild(postAuthor);
            postBody.appendChild(postButton);
            postBody.appendChild(deleteButton);
            postBody.appendChild(viewButton);
            postDiv.appendChild(postBody);
            post.appendChild(postDiv);

        }
    }
    // on window load
    window.onload = function () {
        getPosts();
    }

</script>

</html>